#div_return {
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 70%;
}

.anyClass {
  height:150px;
  overflow-y: scroll;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}