{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{#<script src="https://code.jquery.com/jquery-latest.min.js"></script>#}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    <body><br>
        <div class=" d-flex justify-content-center">
            <div class="btn-group">
              <button class="btn btn-secondary btn-lg"
                      type="button"
                      onclick="location.href='{% url 'runr' %}'"
                      name='execute'>
                execute your R script
              </button>
              <button
                      type="button"
                      class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item"
                           onclick="location.href='{% url 'example' %}'">
                        or pick up an example</a>
                    </li>
                  </ul>
            </div>
        </div><br><br>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col">
            </div>
            <div class="col-7">
                <div class="container-fluid">
                   <div class="form-floating" >
                      <textarea disabled class="form-control"
                                placeholder="Leave a comment here"
                                id="floatingTextarea2"
                                style="height: 200px">
                                {{ rscript }}</textarea>
                      <label for="floatingTextarea2">write or load a R Script</label>
                   </div>
                </div>
            </div>
            <div class="col">
            </div>
          </div>
        </div>
        <br>
        <div class="container">
            <div class = "table" id = "table" name = "table">
                    {% block table %}
                    {% endblock %}
            </div>
        </div>
    </body>
</html>