{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<html lang="en">
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    <body>
        <div style="text-align: center;">
        <br>

            <form action="/runr">
                <button id="exec" class="btn">execute a Rscript</button>
            </form>

            <form action="/example">
                <button id="example" class="btn">test with an example</button>
            </form>

            <textarea class="p-3 mb-2 bg-light text-dark" name='rscript' style="min-width: 50%; min-height: 50%" readonly> {{ rscript }} </textarea>

            <br><br>
            <div class="div_return .anyClass" style="text-align: center;">
                <div class = "table-responsive" id = "table" name = "table">
                    {% block table %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>